*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:0;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 180vh;
}

.container{
    background-color: black;
    color: white;
    border: 5px solid red;
    padding: 50px;
    margin: auto;
    width: 700px;
    border-radius: 20px;
}

header{
    position: sticky;

    background-color: blue;
    width: 100%;

    top: 0;
}





